@font-face {
  font-family: WorkSans-Regular;
  src: url("../assets/fonts/static/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: WorkSans-SemiBold;
  src: url("../assets/fonts/static/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: WorkSans-Bold;
  src: url("../assets/fonts/static/WorkSans-Bold.ttf");
  font-weight: 700;
}
